<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add connectionString="Data Source=localhost;Initial Catalog=BookMgr;Persist Security Info=True;User ID=sa;Password=123;" name="connectionString"/>
  </connectionStrings>
</configuration>